<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Best Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div lang="en" th:include="/layouts/navigation.html "></div>
<div class="container">
    <h1 class="text-center my-4">Images</h1>
    <a class="btn btn-primary" href="/images/create">Create Image</a>

    <table class="table">
        <thead>
        <tr>
            <th>ImageID</th>
            <th>Product</th>
            <th>Image</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="image : ${imageList}">
            <td th:text="${image.imageID}"></td>
            <td th:text="${image.product.productName}"></td>
            <td><img height="90px"  th:src="@{${'/images/display?id=' + image.imageID}}" alt=""></td>
            <td style="white-space: nowrap">
                <a class="btn btn-primary btn-sm"
                   th:href="@{/images/edit(id=${image.imageID})}">Edit</a>

                <a class="btn btn-danger btn-sm"
                   th:href="@{/images/delete(id=${image.imageID})}" onclick="return confirm('Are you sure?')">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>