<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Best</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/products/all">Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/images/all">Image</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/brands/all">Brand</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/vouchers/all">Voucher</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/payments/all">Payment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/all">User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/feedbacks/all">Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wishlists/all">Wishlist</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/orders/all">Order</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/orderdetails/all">OrderDetail</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/categorys/all">Category</a>
            </li>
        </ul>
    </div>
</nav>